<div id="popUp">
  <div class="left-column">
    <div id="headerContainer">
      <text id="headerText">Get 10%, 20%, or 30% Off Your First Order</text>
    </div>
    <div id="subheaderContainer">
      <text id="subheaderText">Win a game to discover your discount!</text>
    </div>
    <form id="emailForm">
      <label for="email">Enter your email to play:</label>
      <input type="email" id="email" name="email" placeholder="Your email">
      <button type="button" onclick="validateAndProcessEmail()">Submit</button>
    </form>
    <div id="imageContainer">
      <img src="{{ 'CircleTickOutline.svg' | asset_url }}" alt="Circle Tick" id="circleTick">
    </div>
    <div id="discountContainer">
      <text id="discountText">Redeem code:</text>
    </div>
    <div id="discount-box"> </div>
  </div>
  <div class="right-column">
    <div id="gameContainer">
      <div id="lockContainer">
        <img src="{{ 'LockFilledMajor.svg' | asset_url }}" alt="Lock" id="lock" />
      </div>
      <img src="{{ 'wordgame.png' | asset_url }}" alt="Word Game" id="wordGameImg" />
      <div id="board"></div>
      <div id="answer">Guess a word</div>
      <div id="keyboard"></div>
    </div>
  </div>
</div>

<style>
  .visually-hidden {
    position: absolute!important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    word-wrap: normal!important;
  }
  
  @-webkit-keyframes rainbow {
    0% {border-color: hsl(0, 100%, 50%);}
    14% {border-color: hsl(30,100%,50%);}
    28% {border-color: hsl(60,100%,50%);}
    42% {border-color: hsl(120,100%,50%);}
    56% {border-color:  hsl(240,100%,50%);}
    70% {border-color: hsl(280,100%,50%);}
    84% {border-color: hsl(320,100%,50%);}
    100% {border-color: hsl(255, 100%, 50%);}
  }

  @media (max-width: 768px) {
    #popUp {
      right: 0%;
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    #headerContainer, #gameContainer, #emailForm {
      width: 100%;
    }

    button[is="party-button"]:hover {
      transform: scale(1.00);
    }
  }

  canvas:empty {
    display: initial;
  }
</style>

{% schema %}
{
  "name": "Word Game",
  "target": "body",
  "stylesheet": "word-game.css",
  "javascript": "word-game.js",
  "settings": []
}
{% endschema %}